{{ with resources.Get "fonts/Montserrat-VariableFont_wght.ttf" }}
@font-face {
  font-family: 'customFont';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url({{ .Permalink }}) format('woff2');
}  
{{ end }}

{{ with resources.Get "fonts/Montserrat-Italic-VariableFont_wght.ttf" }}
@font-face {
  font-family: 'customFont';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url({{ .Permalink }}) format('woff2');
}  
{{ end }}