{{ define "main" }}
  <section class="py-16">
    <div class="container mx-auto px-4">
      {{ with .Title }}
        <h2 class="text-primary mb-16 text-center text-6xl font-bold">{{ . }}</h2>
      {{ end }}
      <div class="flex flex-col items-start xl:flex-row-reverse">
        {{ with .Resources.GetMatch .Params.image }}
          <img src="{{ .RelPermalink }}" alt="{{ $.Title }}" class="mx-auto w-full max-w-xl mb-16 rounded-4xl border-8 border-primary" width="{{ .Width }}" height="{{ .Height }}">
        {{ end }}
        {{ with .Content }}
          <div class="prose prose-lg mx-auto max-w-148">
            {{ . }}
          </div>
        {{ end }}
      </div>
    </div>
  </section>
{{ end }}
